.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typing {
  color: blue;
  background-color: yellow;
  white-space: nowrap;
  animation: typing 4s steps(30) 1s 1 normal both, blinkCaret 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blinkCaret {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}


del{
  display: flex;
  align-items: center;
  justify-content: center;
}

 del p{
  
  background-color: rgb(255, 0, 0);
}

ins p{
  display: inline;
  background-color: yellow;
}